@charset "utf-8";
ul li a {
    margin: auto;
    padding-top: auto;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: auto;
    text-decoration: none;
    font-size: 122px;
}
